#!/usr/bin/make -f

DEB_BUILD_PARALLEL ?= 1
DEB_QMAKE_ARGS += 'DEFINES+=QT_NO_DEBUG_OUTPUT'
export QT_SELECT = qt5

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

DEB_INSTALL_MANPAGES_qbat=res/qbat.1
